@import url(base.css);
header{
    width: 100%;
    height: 227px;
}
.nav{
    width: 100%;
    height: 100%;
    padding: 0 40px;
    position: relative;
}
header .nav .picture{
    width: 100%;
    height: 178px;
    padding: 10px 0;
    display: flex;
    align-items: center;
}
header .nav .picture a{
    display: block;
    width: 136px;
    height: 136px;
    margin: auto;
}
header .nav .picture a img{
    display: block;
    width: 136px;
    height: 136px;
    margin: auto;
 }
.top{
    width: 100%;
    height: 28px;
    float: left;
}
.whome{
    height: 28px;
    width: 450px;
    text-align: center;
    display: flex;
    align-items: center;
    margin: 0 auto;
}
.whome li{
    height: 28px;
    float: left;
}
.whome li a{
    display: block;
    height: 28px;
    font-size: 13px;
    font-weight: bold;
    color: #000;
    text-align: center;
    line-height: 28px;
    padding: 0 20px;
}
.whome li a:hover{
    color: #6c6a68;
    text-decoration: none;
}
.bgg{
    width: 100%;
    height: 449px;
    position: relative;
}
.bg{
    width: 100%;
    height: 100%;
    background:url("../img/gali.jpg") no-repeat center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -1;
}
.where{
    height: 20%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.name{
    font-size: 44px;
    color: rgb(255, 255, 255);
    text-align: center;
}
.school{
    font-size: 48px;
    color: rgb(255, 255, 255);
    text-align: center;
}
.three{
    width: 100%;
    height: 613px;
}
.tu{
   position: relative;
}
.three .tupian a {
    display: block;
    width: 392px;
    height: 462px;
    position: absolute;
    right: 0;
}
.three .tupian img{
    display: block;
    width: 392px;
    height: 462px;
    border: 3px solid #fff;
    box-shadow: 0 0 15px 2px rgba(0,0,0,0.1);
    margin-right: 0;
}


.four{
    width: 100%;
    height: 408px;
    background: rgba(0,0,0,0.7);
}
h3{
    color: #fff;
    font-size: 22px;
    text-align: center;
    line-height: 20px;
    margin:100px auto 40px;
}
.four p{
    color: #fff;
    font-size: 13px;
    text-align: center;
    line-height: 26px;
    margin-bottom: 0;
    padding: 0 170px;
}
@media screen and (max-width: 768px){
    header main{
        height: 100%;
        margin:0 auto;
    }
    header main .home{
        display: block;
        margin: 0 auto;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        color: #000;
        padding: 0px 10px;
        z-index: 1;
    }
    header main .home:hover{
        color: #6c6a68;
        text-decoration: none;
    }
    header main .home:hover .icon-caidan{
        color: #6c6a68;
    }
    header main .home a{
        display: block;
        font-size: 16px;
        color: #000;
    }
    .icon-caidan{
        font-size: 18px;
        color: #000;
    }
    .picture,.top{
        display: none;
    }
    .three{
        width: 100%;
        height: 900px;
    }
    .tu{
        position: relative;
    }
    .three .tupian a {
        display: block;
        width: 392px;
        height: 462px;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        margin:0 auto;
    }
    .three .tupian img{
        display: block;
        width: 392px;
        height: 462px;
        border: 3px solid #fff;
        box-shadow: 0 0 15px 2px rgba(0,0,0,0.1);
    }
    .p1{
        padding-top:600px ;
    }
    .four{
        height: 600px;
    }
    .four p{
        padding: 0 60px;
    }
}
@media screen and (min-width: 768px) {
    header .nav{
        height: 100%;
        margin:0 auto;
        float: left;
    }
    header main .home{
        display: block;
        margin: 0 auto;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        color: #000;
        padding: 7px 10px;
        z-index: 1;
    }
    header main .home:hover{
        color: #6c6a68;
        text-decoration: none;
    }
    header main .home:hover .icon-caidan{
        color: #6c6a68;
    }
    header main .home a{
        display: block;
        font-size: 16px;
        color: #000;
    }
    .icon-caidan{
        font-size: 18px;
        color: #000;
    }
    .picture,.top{
        display: none;
    }
    .three{
        width: 100%;
        height: 900px;
    }
    .tu{
        position: relative;
    }
    .three .tupian a {
        display: block;
        width: 392px;
        height: 462px;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        margin:0 auto;
    }
    .three .tupian img{
        display: block;
        width: 392px;
        height: 462px;
        border: 3px solid #fff;
        box-shadow: 0 0 15px 2px rgba(0,0,0,0.1);
    }
    .p1{
        margin-top: 600px;
    }
    .four{
        height: 600px;
    }
    .four p{
        padding: 0 60px;
    }
}
@media screen and (min-width: 992px){
    header main{
        height: 100%;
        margin:0 auto;
    }

    header main .home{
        display: none;
    }
    .picture,.top{
        display: block;
    }
    .three{
        width: 100%;
        height: 613px;
    }
    .tu{
        position: relative;
    }
    .three .tupian a {
        display: block;
        width: 392px;
        height: 462px;
        position: absolute;
        right: 0;
    }
    .three .tupian img{
        display: block;
        width: 392px;
        height: 462px;
        border: 3px solid #fff;
        box-shadow: 0 0 15px 2px rgba(0,0,0,0.1);
        margin-right: 0;

    }
    .three p{
        color: #000;
        font-size: 13px;
        line-height: 26px;
        margin-bottom: 0;
        padding: 50px 40px 20px 0;

    }
    .p1{
        margin-top: 50px;
    }
}
@media screen and (min-width: 1200px){
    header main{
        height: 100%;
        margin:0 auto;
    }

    header main .home{
        display: none;
    }
    .picture,.top{
        display: block;
    }
    .three{
        width: 100%;
        height: 613px;
    }
    .tu{
        position: relative;
    }
    .three .tupian a {
        display: block;
        width: 392px;
        height: 462px;
        position: absolute;
        right: 0;
    }
    .three .tupian img{
        display: block;
        width: 392px;
        height: 462px;
        border: 3px solid #fff;
        box-shadow: 0 0 15px 2px rgba(0,0,0,0.1);
        margin-right: 0;

    }
    .three p{
        color: #000;
        font-size: 13px;
        line-height: 26px;
        margin-bottom: 0;
        padding: 50px 40px 20px 0;

    }
    .p1{
        margin-top: 50px;
    }
}